FLASK_ENV=development

SECRET_KEY=votre_cle_secrete_ici

MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=nom_de_votre_base
MYSQL_USER=votre_utilisateur

# Les mots de passe sont gérés via Docker secrets dans le dossier secrets/
# Voir secrets/db_password.txt et secrets/db_root_password.txt
