services:

  db:
    image: mysql:8.0
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: cyberhoot
      MYSQL_USER: flaskuser
      MYSQL_PASSWORD: flaskpassword
    volumes:
      - db_data:/var/lib/mysql
      - ./data/init:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - 5000:8000
    volumes:
      - ./app:/app/app
    environment:
      FLASK_ENV: development
      MYSQL_HOST: db
      MYSQL_PORT: 3306
      MYSQL_DATABASE: cyberhoot
      MYSQL_USER: flaskuser
      MYSQL_PASSWORD: flaskpassword
    command: sh -c "/wait-for-it.sh db && python3 -m app.main"
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
